<section class="container">
	<h2>
		<%= page.title %>
	</h2>
	<p class="short-description"><%= page.short_description %></p>

	<h3>
		Goal: $<%= page.goal %>
	</h3>
	<h3>
		Raised: $<%= page.raised %>
	</h3>
	<h3>
		Supporters: <%=page.supporters %>
	</h3>

	<article class="article">
		<%- page.content %>
	</article>

    <% if ( page.raised < page.goal ) { %>
        <h1>Make a pledge!</h1>
        <form action="https://formspree.io/developments@bywatersolutions.com" method="POST">
            <input type="hidden" name="project" value="<%= page.title %>"/>

            <p/>
            <label for="library">Library Name (required)</label>
            <input type="text" name="library"/>

            <p/>
            <label for="name">Your name (required)</label>
            <input type="text" name="name"/>

            <p/>
            <label for="email">Email address (required)</label>
            <input type="text" name="email"/>

            <p/>
            <label for="pledge_amount">Pledge amount</label>
            <input type="text" name="pledge_amount"/>

            <p/>
            <input type="submit" value="Send">
        </form>
    <% } %>
</section>
