<section class="container">
  <h3 class="cards-title"><%= title %></h3>
  <ul class="cards-content">
  <% items.reverse().forEach(item => { %>
    <li class="card-wrap wrapper module-<%= item.module %>">
      <a class="card" href="<%= url_for(item.path) %>">

        <h4 class="card-title"><%= item.title %></h4>

        <% if (item.short_description) { %>
          <%= item.short_description %>
        <% } %>

        <% if (item.in_koha_release) { %>
            <div class="ribbon-wrapper-green"><div class="ribbon-green">In Koha <%= item.in_koha_release %></div></div>
        <% } else if ( item.raised == item.goal ) { %>
            <div class="ribbon-wrapper-green"><div class="ribbon-green">Funded!</div></div>
        <% } %>

      </a>
    </li>
  <% }) %>
  <!-- HIDE SHOW MORE FOR NOW
    <li class="card-wrap">
      <a class="card" href="<%= url_for(page.lang + '/explore') %>">
        <h4 class="card-title">&#8195;</h4>
        <p class="card-read-more"><%= __('more') %></p>
      </a>
    </li>
  -->
  </ul>
</section>
