<section class="container">
  <ul class="cards-content">
  <% items.reverse().forEach(item => { %>
    <li class="card-wrap wrapper module-<%= item.module %>">
      <div class="card">
        <div class="card-block">
            <h2 class="card-title"><%= item.title %></h2>

            <% if (item.short_description) { %>
              <h5><%= item.short_description %></h5>
            <% } %>

            <a href="<%= url_for(item.path) %>" class="btn btn-primary">Details</a>

            <% if (item.in_koha_release) { %>
                <div class="ribbon-wrapper-green"><div class="ribbon-green">Koha <%= item.in_koha_release %></div></div>
            <% } else if ( item.raised == item.goal ) { %>
                <div class="ribbon-wrapper-green"><div class="ribbon-green">Funded!</div></div>
            <% } %>

      </div>
    </li>
  <% }) %>
  <!-- HIDE SHOW MORE FOR NOW
    <li class="card-wrap">
      <a class="card" href="<%= url_for(page.lang + '/explore') %>">
        <h4 class="card-title">&#8195;</h4>
        <p class="card-read-more"><%= __('more') %></p>
      </a>
    </li>
  -->
  </ul>
</section>
